<div class="flex mt-5 flex-col md:flex-row md:space-x-4">
  <div class="w-full mb-4 md:w-56">
    <p>status: {{ categoriesResource.isLoading() }}</p>
    @if(categoriesResource.error()){
      <p class="text-red-500">
        Error: {{ categoriesResource.error() }}
      </p>
    }

    @if(categoriesResource.hasValue()){
      <button class="bg-blue-500 text-white px-4 py-2 rounded-md" (click)="categoriesResource.reload()">
        Reset
      </button>
  
      <ul class="text-center md:text-left">
        <li>
          <a routerLink="/">All</a>
        </li>

        @for (category of categoriesResource.value(); track $index) {
          <li>            
            <a [routerLink]="'/category/'.concat(category.slug)">{{
              category.name
            }}</a>
          </li>
        }
      </ul>
    }

  </div>
  @if(productsResource.hasValue()){
    <div class="grid grid-cols-2 gap-8 w-full md:grid-cols-4">
      @for (product of productsResource.value(); track product) {
        <app-product [product]="product" (addToCart)="addToCart($event)" />
      }
    </div>
  }
</div>
